/* #########     Header Styling    ########### */
header {
  width: 100%;
  padding: 1em 0;
  background-color: White;
  box-shadow: .1rem 1rem .2rem #02263e;
}

.inner-wrapper {
  width: 90%;
  max-width: 1800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  width: calc(2rem + 1vw);
  height: auto;
}

.name {
  margin-left: .5em;
  font-size: calc(.65rem + 1vw);
  font-weight: bold;
  color: #023558;
}

/* #########     Nav Styling    ########### */
.nav-links {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  margin: 0 auto;
  padding: .25em .75em;
  list-style: none;
  text-align: left;
  border-right: 1px solid #023558;
}

.link-text {
  text-decoration: none;
  font-size: calc(.35rem + 1vw);
  color: #023558;
}

